.app-header {
  background-color: #151217; /* fond sombre */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
}

.logo img {
  height: 50px;
  transition: transform 0.2s ease;
}

.logo img:hover {
  transform: scale(1.05);
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #FDD90B;
  font-weight: bold;
  font-family: 'Comfortaa', sans-serif;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #DA001E;
}

.search {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search input {
  padding: 5px 10px;
  border: 2px solid #FDD90B;
  border-radius: 5px;
  outline: none;
  font-family: 'Comfortaa', sans-serif;
}

.search input:focus {
  border-color: #DA001E;
}

.search button {
  background-color: #FDD90B;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.search button:hover {
  background-color: #DA001E;
  color: white;
}