<section class="main-container">
  <!-- Logo centré en haut -->
  <div class="logo-container">
    <img src="assets/img/logo.jpg" alt="Logo" />
  </div>

  <!-- Conteneur des deux sections côte à côte -->
  <div class="sections-container">
    <!-- Section d'accueil (Home) -->
    <div class="home">
      <h1>Bienvenue sur notre site</h1>
      <p>Découvrez notre incroyable collection de figurines !</p>
      <a routerLink="/product" class="btn-primary">Voir nos produits</a>
    </div>
  </div>
</section>