:host {
  display: block;
  min-height: 100vh; /* Prend toute la hauteur */
  background-color: #F9D0A3; /* Fond sombre de la page */
  padding: 20px;
  box-sizing: border-box;
  color: #FDD90B; /* Couleur du texte par défaut */
}

/* Barre de recherche */
.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  max-width: 90%;
  border: 1px solid #151217; /* noir foncé */
  border-radius: 5px;
  font-family: 'Comfortaa', sans-serif;
  color: #151217;
  background-color: #F9D0A3; /* peach */
}

.search-bar input::placeholder {
  color: #151217;
}

/* Boutons de tri */
.sort-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.sort-buttons button {
  padding: 8px 15px;
  margin: 0 5px;
  background-color: #FDD90B; /* jaune */
  border: none;
  color: #151217; /* texte noir foncé */
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  transition: all 0.3s ease;
}

.sort-buttons button:hover {
  background-color: #DA001E; /* rouge */
  color: #FFFFFF;
}

/* Liste des produits */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: #F9D0A3; /* peach */
  border: 1px solid #151217; /* noir foncé */
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.product-card h3 {
  font-size: 1.2em;
  color: #DA001E; /* rouge */
  font-family: 'Bubbleboddy Neue', sans-serif;
}

.product-card p {
  color: #151217;
  font-family: 'Comfortaa', sans-serif;
}

.product-card button {
  background-color: #151217; /* noir foncé */
  color: #FDD90B; /* jaune */
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.product-card button:hover {
  background-color: #DA001E; /* rouge */
  color: #FFFFFF;
}

/* Panier */
.cart {
  max-width: 600px;
  margin: 20px auto;
  background: #F9D0A3; /* peach */
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #151217;
  font-family: 'Comfortaa', sans-serif;
  color: #151217;
}

.cart h3 {
  color: #DA001E; /* rouge */
}